<!DOCTYPE html>
<html lang="en" dir="ltr">


<head>
    <title>Create Council Account</title>
    <link rel="icon" type="image/x-icon" href="../Images/cheltenham-council.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/Style.CSS">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>

<body>
  <nav style="position:sticky;z-index: 1100;">
    <!-- space and framework left to make navbar collapsable if needed -->
          <div class="">
            <ul class="nav">
              <li><a href="Index.html">Home</a></li>
              <li><a class="NavActive" href="CreateCouncil.html">Create Council Account</a></li>
              <li style="float:right"><a href="javascript:logout()" id="NavSignOut">Sign Out</a></li>
              <li style="float:right"><a href="Account.html" id="NavSignin">Account</a></li>
            </ul>
          </div>
  </nav>
  <div class="content">
    <table id="employeeTable">
      <tr>
        <th>UID</th>
        <th>Name</th>
        <th>email</th>
        <th>date of birth</th>
        <th></th>
        <th></th>
      </tr>
    </table>
  </div>
        <footer id="footer">
        <div class="" style="width:45%;">
            <a href="ContactUs.html">Contact Us</a><br>
            Report a bug: CheltBugReport@email.com
        </div>
        <div class="" style="width:45%;">
        Made by TEMA TEMA inc
        </div>
        <div class="" style="width:10%;">
            <img src="../Images/tematemalogo.png" height="40px" width="40px">
        </div>
        </footer>
    </div>
    <script src="../JS/Common.js"></script>
    <script src="../JS/EmplyoeeAccounts.js"></script>
 </body>
</html>
