<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="../CSS/Style.css" rel="stylesheet" type="text/css">
    <title>Council Report Page</title>
</head>
<body>
    <nav>
        <!-- space and framework left to make navbar collapsable if needed -->
        <div class="">
            <ul class="nav">
                <li><a href="Index.html">Home</a></li>
                <li><a class="NavActive" href="Report.html">Report Issue</a></li>
                <li><a href="ContactUs.html">Contact Us</a></li>
                <li style="float:right"><p>Account</p></li>
                <li style="float:right"><input type="text" name="Search" value="" placeholder="Search"></li>
            </ul>
        </div>
    </nav>

    <h1>Report a Problem</h1>
    <p1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p1>

    <button type="button" class="btn btn-danger">Testing</button>

</body>
</html>