<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- <script type='text/javascript' src='https://maps.google.com/maps/api/js?language=en&key=AIzaSyB61QLHLhzPTxEB9A3AJHCWwYz8caQq1Tg&libraries=places&region=GB'></script> -->
    <script
      src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyB61QLHLhzPTxEB9A3AJHCWwYz8caQq1Tg"
      async
      defer
    ></script>
<title>Reports in your area</title>
    <!-- <script type='text/javascript' src='https://maps.google.com/maps/api/js?language=en&key=AIzaSyB61QLHLhzPTxEB9A3AJHCWwYz8caQq1Tg&libraries=places&region=GB' async defer></script> -->

    <link rel="stylesheet" href="../CSS/Style.CSS" type="text/css">
</head>
<body>
  <style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;

  }
</style>
  <nav id="navbar">
    <!-- space and framework left to make navbar collapsable if needed -->
    <div class="">
      <ul id="NavList"class="nav">
        <li id="NavHome"><a href="Index.html">Home</a></li>
        <li id="NavReport"><a href="Report.php">Report Issue</a></li>
        <li id="NavView"><a href="view-problems.html">View Problems</a></li>
        <li id="NavContact"><a href="ContactUs.html">Contact Us</a></li>
        <li id="NavSignIn" style="float:right"><a class="NavActive" href="login.html" id="NavSignIn">Sign In</a></li>
        <li id="NavSearch" style="float:right"><input type="text" name="Search" value="" placeholder="Search"></li>
      </ul>
    </div>
        </nav>
    <div class="row">
        <div class="col-lg-1"></div>
        <div id="filterContainer" class="col-lg-2 filter-panel">
            <h3>Filter By:</h3>
            <select id="distance" class="hidden" onchange="filtersChanged()">
                <option value="" disabled selected hidden>Sort by distance</option>
                <option value="1">1 km</option>
                <option value="2">2 km</option>
                <option value="5">5 km</option>
                <option value="10">10 km</option>
                <option value="25">25 km</option>
                <option value="50">50 km</option>
                <option value="Any">Any distance</option>
            </select><br><br>
            <label>
            <input type="checkbox" name="issue" onchange="filtersChanged()" value="Broken traffic lights">
            Broken traffic lights
            </label><br>
            <label>
            <input type="checkbox" name="issue" onchange="filtersChanged()" value="Burst pipe">
            Burst pipe
            </label><br>
            <label>
            <input type="checkbox" name="issue" onchange="filtersChanged()" value="Blocked drain">
            Blocked drain
            </label><br>
            <label>
            <input type="checkbox" name="issue" onchange="filtersChanged()" value="Broken streetlight">
            Broken streetlight
            </label><br>
            <label>
            <input type="checkbox" name="issue" onchange="filtersChanged()" value="Exposed cables">
            Exposed cables
            </label><br>
            <label>
            <input type="checkbox" name="issue" onchange="filtersChanged()" value="Flooding">
            Flooding
            </label><br>
            <label>
            <input type="checkbox" name="issue" onchange="filtersChanged()" value="Graffiti">
            Graffiti
            </label><br>
            <label>
            <input type="checkbox" name="issue" onchange="filtersChanged()" value="Litter">
            Litter
            </label><br>
            <label>
            <input type="checkbox" name="issue" onchange="filtersChanged()" value="Pothole">
            Pothole
            </label><br>
            <label>
            <input type="checkbox" name="issue" onchange="filtersChanged()" value="Wrecked car">
            Wrecked car
            </label><br>
            <label>
            <input type="checkbox" name="issue" onchange="filtersChanged()" value="Other">
            Other
            </label><br>
            <br>
            <p>Status:</p>
            <label>
            <input type="radio" name="issue" onchange="filtersChanged()" value="Any">
            Any
            </label><br>
            <label>
            <input type="radio" name="issue" onchange="filtersChanged()" value="Fixed">
            Fixed
            </label><br>
            <label>
            <input type="radio" name="issue" onchange="filtersChanged()" value="Not Fixed">
            Not Fixed
            </label><br>
            <div id="favouriteFilter" class="hidden">
              <br>
              <p>Following:</p>
              <label>
              <input type="checkbox" name="favourited" onchange="filtersChanged()" value="Favourited">
              Show Only Problems You've Favourited
              </label><br>
            </div>
          </div>
        <div class="scroll__container col-lg-4" id="viewReportsContainer" style="overflow-y: auto; height: 92vh;"></div>
        <div id="fullReportContainer" class="col-lg-4 full-report-panel">
            <h3 id="reportTitle"></h3>
            <p id="reportDate"></p>
            <p id="reportStatus"></p>
            <br>
            <p>Description:</p>
            <p id="reportDescription"></p>
            <div id="map" style="height: 500px; width: 100%;"></div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> -->
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

    <!-- <script
      src="https://maps.googleapis.com/maps/api/js?callback=initMap"
      async
      defer
    ></script> -->
    <!-- <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 51.8999977, lng:-2.0738122 },
          zoom: 13,
        });
      }
    </script> -->

    <!-- Link the javascript file to this page -->
    <script src="../JS/view-problems.js"></script>
    <script src="../JS/Common.js"></script>
    <div class="footer">
      <a href="ContactUs.html">Contact Us</a><br>
      Report a bug: CheltBugReport@email.com
      Made by TEMA TEMA inc
      <!--<img src="../Images/tematemalogo.png" height="40px" width="40px"> -->
    </div>
</body>
</html>
